@using Shop.Models
@model ProductModel

<div class="card" style="width: 18rem;">
    <img src="https://img.icons8.com/plasticine/2x/person-male.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <div class="card-text">
            <p>Price: @Model.Price</p>
            <p>Number: @Model.Number</p>
        </div>
        <a asp-action="Index" class="btn btn-primary">Go to products</a>
    </div>
</div>