<form method="post">
    <div class="form-group">
        <label for="name-input">Name</label>
        <input type="text" name="name" class="form-control" id="name-input">
    </div>
    <div class="form-group">
        <label for="price-input">Price</label>
        <input type="number" step="any" name="price" class="form-control" id="price-input">
    </div>
    <div class="form-group">
        <label for="number-input">Number</label>
        <input type="number" min="0" max="1000000" step="1" name="number" class="form-control" id="price-input">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>