@using Presentation.Shop.Models
@model ProductModel

<a asp-action="Index">Back to list</a>
<h3>Product</h3>
<div class="card product-detail">
    <div class="detail-image">
        <a href="@Url.Action("Detail", "Products", new { id = Model.Id } )">
            <img src="https://www.prameyanews.com/wp-content/uploads/2019/12/packaged-food.jpg" class="card-img-top product-image" alt="...">
        </a>
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <div class="card-text">
            <p>Category: @Model?.Category?.Name</p>
            <p>Price: @Model.Price UAH</p>
            <div style="display:flex; flex-direction: row;">
                @if (Model.Number > 0)
                {
                    <p style="color:green">Available</p>
                }
                else
                {
                    <p style="color:red">Not available</p>
                }
                <div style="margin-left: auto;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="green" class="bi bi-cart" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>