@using Shop.Models
@model ProductIndexModel
<h1>Products</h1>
<a asp-action="Create">Create</a>

<div class="products-container">
    @if (Model.Products.Count > 0)
    {
        @foreach (var product in Model.Products)
        {
            <div>
                @await Html.PartialAsync("_Product", product)
            </div>
        }
    }
</div>
