@using Presentation.Shop.Models
@model ProductIndexModel

<div class="products-container">
    @if (Model.Products.Count > 0)
    {
        @foreach (var product in Model.Products)
        {
            <div>
                @await Html.PartialAsync("_Product", product)
            </div>
        }
    }
</div>
